@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&family=Nerko+One&display=swap');
:root{
    --gb-logo-font-family: 'Nerko one?', cursive;
    --gb-body-font-family: 'Montserrat', sans-serif;
    --gb-body-bg-color: #f6f5f3;
    --gb-bg-color: white;
    --gb-bg-darker: #e0e0e0;
    --gb-logo-color: #ff9614;
    --gb-logo-shadow-color: #a69683;
    --gb-light-color: #b7b4b8;
    --gb-primary-color: #4e3969;
}

/*reset*/
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html,
body{
    background-color: var(--gb-body-bg-color);
    font-family: var(--gb-body-font-family);
    font-size: 14px;
}

img{
    max-width: 100%;
    vertical-align: middle;
}

.container{
    width: 95%;
    margin: 0 auto;
    max-width: 420px;
}

.card{
    background-color: var(--gb-bg-lighter);
    box-shadow: 0px 0px 10px var(--gb-logo-shadow-color);

    .card-body{
        padding: 1rem;

        ul{
            list-style: none;
            line-height: 2rem;
            margin-top: 1.5rem;
        }
    }
}








#app_header{
    background-color: var(--gb-bg-color);

    h1{
        color: var(--gb-logo-color);
        font-family: var(--gb-logo-font-family);
        text-align: center;
        text-transform: uppercase;
        padding: 0.75rem;
        text-shadow: 1px 0px 0px var(--gb-logo-shadow-color);
        font-size: 2.5rem;
    }
}






.recipe{

    

    .subtitle{
        display: inline-block;
        text-transform: uppercase;
        color: var(--gb-light-color);
        padding: 1.5rem 0;
    }

        .title{
            color: var(--gb-primary-color);
            padding-bottom: 1.5rem;
        }
    
}

.socials{
    padding: 1rem 0;


    .container{
        display: flex;
        justify-content: space-between;
        align-items: center;
        
    }

    .icon{
        background-color: var(--gb-bg-lighter);
        padding: 0.25rem 0.5rem;
        border-radius: 0.75rem;


        span{
            display: none;
        }
    }
}

.banner{
    display: none;
}

.presentation{
    
    h2{
        margin-bottom: 1.5rem;
    }

    hr{
        width: 20%;
        margin-bottom: 1rem;
        color: var(--gb-logo-color);
    }

    img{
        display: block;
        margin: 0 auto;
        padding-bottom: 1rem;

    }

    p{
        line-height: 2rem;
    }

}







/*tablet*/
@media screen and (min-width: 768px)
{
    .container{
        max-width: 720px;
    }


    #app_header{

        padding: 0 1rem;

        h1{
            text-align: left;
        }
    }

    .card, .card-body{
        ul{
            display: flex;
            flex-wrap: wrap;
            column-gap: 5rem;
            row-gap: 1.5rem;
            
        }

    }

    .socials{
        
    
        .icon{
            span{
                display: inline;
            }
        }
    }

    .banner{
        display: block;
    }

    .presentation{

        padding: 2rem 0;

        img{
            float: left;
            margin-right: 1rem;
        }
    }


}

/*desktop*/

@media screen and (min-width: 992px)
{
    .container{
        max-width: 920px;
    }



    .card{
        display: flex;

        .card-preview{
            width: 70%;
        }

        .card-body{

            ul{
            display: block;
        }
    }
}
}